body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(bgsimon.jpg);
    background-size: cover;
}
.mainbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
    height: 750px;
    position: sticky;
    top: 50px;
}
#rulesbox {    
    position: fixed;
    top: -100%;
    left: 50%; 
    transform: translate(-50%,-50%); 
    background-color: #fff;
    z-index: 1000;
    width: 90vw;
    height: 80vh;
    padding: 80px 50px 50px;
    transition: 0.5s;
    border-radius: 4px;
    visibility: hidden;
    background-image: linear-gradient(grey, white, grey);
}
#rulesbox.active{
    visibility: visible;
    top: 50%;
}
.ruleslist {
    font-size: 1.5rem;
    text-align: left;
}
.startbtn {
    border: none;
    width: 150px;
    letter-spacing: 0.1rem;
    background-color: #7c3af8;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px;
}
.closebtn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 20px;
}
.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 500px;
    height: 500px;
}
.btn {
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 25%;
    cursor: pointer;
}
.one {
    background-color: #f99b45;
}
.two {
    background-color: #d95980;
}
.three {
    background-color: #819ff9;
}
.four {
    background-color: #63aac0;
}
.flash {
    background-color: white;
}
.userflash {
    background-color: greenyellow;
}
